body {
    background-image: url("https://cdn.wallpapersafari.com/81/95/Z7D2q6.jpg")
}

h1 {
    font-family: Lucida Handwriting, cursive;
    font-size: 35px;
    color: yellow;
    text-align: center;
    background-color: black;
}

.introduction{
    border: 10px outset green;
    background-color: white;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
 }
#cool{
    text-align: center;
    padding: 3px;
    background-color: Blue;
    color: white;
    font-family: Times New Roman;
}
table{
    text-align: center;
    float: center;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    font-family: cursive;
    border: 5px solid red;
    background-color: white;
    text-align: center;
}
marquee{
    font-family: cursive;
    color: cyan; 
  text-shadow: 0 0 50px cyan;
    font-size: 25px
}
ul{
    color: white;
    text-decoration: bold;
    font-family: cursive;
    text-align: left;
    background-color: darkblue;
}
div{
    text-align: center;
}
img:hover {
            transform: scale(1.15);
            transition: transform 0.5s ease;
        }
.icecreamoption{
    text-align: left;
}
.cookieoption{
    text-align: center;
}
.whitecolor{
    color: white;
    font-family: cursive;
    font-size: 20px;
}



