body {
    background-image: url("https://cdn.wallpapersafari.com/81/95/Z7D2q6.jpg")
}

h1 {
    font-family: Lucida Handwriting, cursive;
    font-size: 35px;
    color: yellow;
    text-align: center;
    background-color: black;
}

.introduction{
    border: 10px outset green;
    background-color: white;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    
}

marquee{
    font-family: cursive;
    color: cyan; 
  text-shadow: 0 0 50px cyan;
    font-size: 25px
}

div{
    text-align: center;
}
a img:hover {
            transform: scale(1.15);
            transition: transform 0.5s ease;
        }
.icecreamoption{
    text-align: left;
}
.cookieoption{
    text-align: center;
}
.whitecolor{
    color: white;
    font-family: cursive;
}



